.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 51px;
}

@media screen and (max-width:880px) {
  .elements {
    max-width: 600px;
  }
}

@media screen and (max-width:620px) {
  .elements {
    max-width: 300px;
    justify-content: center;
    margin-top: 36px;
  }
}
